@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*Colores*/
    --color-lightBlue: #6EACDA;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #495057;
    --color-beige: #E2E2B6;
    /*Fuentes de letras*/
    --font-family-Montserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-lightBlue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-Montserrat);
}

.encabezado{
    padding: 2% 2% 2% 0;
}

.presentacion{
    display: flex;
    justify-content: center;
    gap:  50px;
    margin-bottom: 2.5rem;
}

.presentacion__seccion{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.presentacion__seccion__titulo{
    text-align: center;
    margin-bottom: 3rem;
    /* font-family: var(--font-family-CrimsonPro); */
}

.presentacion__seccion__areaTexto{
    height: 95%;
    background: var(--color-lightBlue);
    font-size: 1rem;
    font-family: var(--font-family-Montserrat);
    font-weight: 500;
    border: none;
    outline: none;
}

.presentacion__seccion__areaTexto::placeholder{
    color: var(--color-black);
    font-weight: 500;
    font-family: var(--font-family-Montserrat);
}

.presentacion__seccion__advertencia{
    display: flex;
    gap: 8px;
    margin: 0.3rem 0;
}

.presentacion__seccion__advertencia__parrafo{
    font-size: 0.75rem;
    font-weight: 500;
}

.presentacion__seccion__botones{
    height: 12%;
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 1rem;
}

.presentacion__seccion__botones__encriptar,
.presentacion__seccion__botones__desencriptar,
.presentacion__seccion__botones__borrar{
    width: 30%;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 24px;
    cursor: pointer;
    font-family: var(--font-family-Montserrat);
    font-weight: 600;
    transition: 0.3s;
}

.presentacion__seccion__botones__encriptar:hover,
.presentacion__seccion__botones__desencriptar:hover,
.presentacion__seccion__botones__borrar:hover{
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
    transform: scale(1.06);
    transition: .3s;
}

.presentacion__apartado{
    background: var(--color-white);
    width: 30%;
    height: 50%;
    padding: 1.5% 1.7%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
}

.presentacion__apartado__areaTexto{
    background: var(--color-white);
    height: 25%;
    font-size: 1rem;
    font-family: var(--font-family-Montserrat);
    border: none;
    outline: none;
}

.presentacion__apartado__parrafos{
    margin: 2rem;
}

.presentacion__apartado__parrafos__parrafo1{
    color: var(--color-gray);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.presentacion__apartado__parrafos__parrafo2{
    color: var(--color-gray);
    font-size: 1rem;
    font-weight: 400;
}

.presentacion__apartado__boton__copiar{
    width: 100%;
    padding: 4% 0;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 24px;
    cursor: pointer;
    font-family: var(--font-family-Montserrat);
    font-weight: 600;
    margin-top: 5rem;
    transition: 0.3s;
}

.presentacion__apartado__boton__copiar:hover{
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
    transform: scale(1.06);
    transition: .3s;
}

.footer{
    background: var(--color-beige);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    gap: 50px;
    margin-top: auto;
}

.footer__enlaces{
    display: flex;
    gap: 20px;
}

.footer__enlaces__link{
    color: var(--color-black);
    transition: 0.3s;
}

.footer__enlaces__link:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .presentacion{
        flex-direction: column;
        align-items: center;
    }

    .presentacion__seccion{
        width: 95%;
        margin-bottom: 6.2rem;
    }

    .presentacion__seccion__advertencia{
        margin: 0.625rem 0;
    }

    .presentacion__seccion__botones__encriptar,
    .presentacion__seccion__botones__desencriptar,
    .presentacion__seccion__botones__borrar{
        width: 30%;
        padding: 3.3% 0;
    }

    .presentacion__apartado{
        width: 68%;
        height: 13%;
    }

    .presentacion__apartado__parrafos__imagen{
        display: none;
    }

    .presentacion__apartado__parrafos{
        margin-top: 0;
    }
    
    .presentacion__apartado__boton__copiar{
        width: 100%;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 767px) {

    .presentacion{
        flex-direction: column;
        align-items: center;
    }

    .presentacion__seccion{
        width: 95%;
        margin-bottom: 6.2rem;
    }

    .presentacion__seccion__advertencia{
        margin: 0.95rem 0;
    }

    .presentacion__seccion__botones{
        height: 15.8%;
        flex-direction: column;
        align-items: center;
    }

    .presentacion__seccion__botones__encriptar,
    .presentacion__seccion__botones__desencriptar,
    .presentacion__seccion__botones__borrar{
        width: 47.2%;
        padding: 3.3% 0;
    }

    .presentacion__apartado{
        width: 85%;
        height: 18.6%;
        border-radius: 24px;
    }

    .presentacion__apartado__areaTexto{
        border-radius: 10px;
    }

    .presentacion__apartado__parrafos__imagen{
        display: none;
    }

    .presentacion__apartado__parrafos{
        margin-top: 0;
    }

    .presentacion__apartado__boton__copiar{
        width: 100%;
        margin-top: 2rem;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__parrafo{
        text-align: center;
    }

}